@charset "UTF-8";

body
{
    background-image: linear-gradient(90deg, yellow, lime green );
    color: black;
    font-size: 12pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

h1
{   
    background-image: linear-gradient(270deg, gray, white );
    background-color: aqua;
    color: black;
    font-size: 45pt;
    font-family:Arial;
    text-align: center;
}

h2
{   
    background-image: linear-gradient(270deg, gray, white );
    background-color: aqua;
    color: black;
    font-size: 45pt;
    font-family:Arial;
    text-align: center;
}

p
{ 
 color:red;
 font-Size 16pt;
 font-family: Arial;
 text-align: center;
}

p2
{
  color:blue;
 font-Size 20pt;
 font-family: verdana;
 text-align: center; 
}

p3
{ 
 color:red;
 font-Size 16pt;
 font-family: Arial;
 text-align: center;
}

p4
{
  color:blue;
 font-Size 20pt;
 font-family: verdana;
 text-align: center; 
}


} 
